<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Converter</title>
    <link rel="stylesheet" href="../../static/css/converter.css">
</head>
<body>
    <div class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-header">
          <a href="../" class="navbar-brand">Weather App</a>
          <a href="/statistics" class="converter-a">Statistics</a>
          <a href="/converter" class="converter-a">Temperature Converter</a>
        </div>
      </div>
    <main>
        <h2>{{fah}}</h2>
        <section>
            <div class="container">
                <div class="row desktop-menu-view">
                    <div class="col-md-12">
    
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div>
                                <form method="post">
                                    {% csrf_token %}
                                    <h1>Temperature Converter</h1>
                                    <p class="mobileSubtitle">Fahrenheit to Celsius Conversion, Celsius to Fahrenheit Conversion</p><br>
                                    <div class="fahrenheit-shadow">
                                        <div class="cont">
                                            <div class="col-md-6 col-sm-6 col-xs-6 converter_bg">
                                                <h3>Fahrenheit </h3>
                                                <input type="text" name="F" id="FahrenheitValue" class="frn-text-box">
                                                <button type="button" class="bbtn" name="fah" id="fah">Convert</button>
                                            </div> 
        
                                            <div class="col-md-6 col-sm-6 col-xs-6 converter_bg">
                                                <h3>Celsius</h3>
                                                <input type="text" name="C" id="CelsiusValue" class="frn-text-box">
                                                <button type="button" class="bbtn" name="cel" id="cel">Convert</button>
                                            </div> 
                                        </div>
                                        <div class="clear">
                                            <button type="button" class="bbtn" id="clear">Clear Fields</button>
                                        </div>
                                    </div>
                                    
                                </form>
                            </div>
                        </div>
    
                    </div>
                </div>
    
                <!--Normal Menu View Ends Here -->
            </div>
        </section>
    </main>
    <script>
        
        let fah_value = document.getElementById('FahrenheitValue');
        let cel_value = document.getElementById('CelsiusValue');


        document.getElementById('fah').addEventListener("click", function(){
            cel_value.value = (fah_value.value - 32) * 5 / 9;
        });

        document.getElementById('cel').addEventListener("click", function(){
            fah_value.value = cel_value.value * 9 / 5 + 32;
        });
        document.getElementById('clear').addEventListener("click", function(){
            cel_value.value = '';
            fah_value.value = '';
        });
    </script>
</body>
</html>